* {
    //border:1px solid red;
	font-family: 'Lato', sans-serif;
	color: white;
}
body {
	background-color: #05D197;
}
input {
	border-width: 0px;
	border-bottom-width: 1px;
	width: 200px;
	font-size: 1em;
	color: black;
}
label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
input {
    width: 250px;
    height: 25px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
form{
	font-size: 20px;
}
table {
	margin-top: 20px;
}
.small-font {
	font-size: 1.5em;
}
.bigger-font {
	font-size: 2.2em;
}
.bigger-center-font {
	font-size: 2.2em;
	text-align:center;
}
.regular-font {
	font-size: 5em;
}
.title-font {
    font-size: 10em;
    font-weight: bold;
	
}
.subheader {
	background-color: #FFD590;
}
.underline {
	background-color: white;
	width: 1000px;
	height: 2px;
	margin-top: -60px;
}
.line {
	position: absolute;
	top: 20%;
	left: 10%;
}
.button {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 150px;
	padding-right: 150px;
	margin-top: 50px;
	font-size: 5em;
	background-color: #02845F;
}
.button-2 {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
	background-color: #02845F;
}
.button-2c {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 2em;
	background-color: #02845F;
	text-align: center;
}
.button-2s {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.3em;
	background-color: #02845F;
	text-align: center;
}

.button-3 {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	font-size: 2em;
	background-color: #02845F;
}
.button-4 {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	width: 300px;
	height: 150px;
	background-color: #02845F;
}
.button-5 {
	border-color: white;
	border-width: 1px;
	border-radius: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	width: 300px;
	height: 150px;
	background-color: #FFD590;
}
.secure {
	list-style-image: url(lock.png);
	text-decoration: underline;
	text-decoration: bold;
	font-size: 1.2em;
}
button:hover {
	background-color: #2DB58F;
}
#myProgress {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
  width: 65%;
  height: 30px;
  background-color: #ddd;
  border-radius: 15px;
}

#myBar {
  position: absolute;
  width: 1%;
  height: 100%;
  background-color: #4CAF50;
  border-radius: 15px;
  margin-bottom: 
}
.sidebar {
	list-style-image: url(nothing.png);
	background-color: #FFC25C;
    position:absolute;
    left:0px; top:-30px; bottom: 0;
    height: 110%;
    width: 198px;
}
.main-message {
	margin-left: 250px;
}
.blank-button {
	border: 0px;
	background: none;
	outline: 0;
	box-shadow: none;
}
.empty {
	display: none;
}
#remove1 li {
	padding-top: 10px;
	margin-left: -38px;
	background-color: #FFD590;
	border-bottom: 3px solid #FFC25C;
}

.question{
	font-size: 25px;
	text-align: left;
}

.answer{
	width: 20px;
    height: 20px;
    padding: 10px;
    margin:0;
    vertical-align: middle;
    left: 0px;
    *overflow: hidden;
}
.opanswer{
	width: 20px;
    height: 15px;
    padding: 10px;
    margin:0;
    vertical-align: middle;
    left: 0px;
    *overflow: hidden;
}
.longanswer{
	width: 1000px;
    height: 100px;
    padding: 10px;
    margin:0;
    vertical-align: middle;
    left: 0px;
    *overflow: hidden;
}
.sectionend{
	font-size: 30px;
	text-align:center;
}
.signout{
	text-align:right;
}